$background: #ABCDEF;

body {
  background: $background;
}

.counter {
  font-size: 1.5em;
  text-align: center;
  user-select: none;
}

.counter-button { /* kebab-case only to demonstrate camelCase conversion */
  font-size: 1.25em;
  margin: 10px;
}