@import '~normalize.css';

/* Overrides box-sizing */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  /* FIXME: Change font */
  font-family: 'Courier New';
}
